.head_title {
	margin-top: 50px;
	text-align: center;
	font-size: 3em;
	font-family: sans-serif;
	font-color: black;
	border: 1px solid black;
	margin-left: 600px; 
	margin-right: 600px;
	padding-top: 5px;
	padding-bottom: 5px;
}